.petitionList {
    background: #F0F1F2;
    min-height:100%;
    padding-bottom: 100px;
    .feed{
        background: #fff;margin-top:10px;
        .feedTitle{
            height: 33px;
            padding: 7px 20px 0 20px;
            line-height: 20px;
            border-bottom: 1px solid #E5E5E5;
            & > *{
                float: left;
            }
            .avatar{
                width: 20px;height: 20px; border-radius: 100%; overflow: hidden;
            }
            .username{padding:0 5px;}
        }
        .feedCnt{
            padding:15px 20px 10px 20px;height: 105px;
            .left{
                float: left;width:220px;height: 80px;position: relative;
                h1{font-size: 18px;color:#232C5E;line-height: 24px;font-weight: normal;margin:0;@include ellipsisMultiLines(2);}
                .btnHandsUp{
                    padding: 0 32px 0 8px;height: 22px;line-height: 22px;background: #FFECEC;position: absolute;left:0;bottom:0;border-radius: 2px;overflow: hidden;color:#ED3434;
                    &:after{
                        content:'';position: absolute;top:0;right:0;width: 24px;height: 22px;
                        background: #FFD2D2 url(../../images/icon-handup@2x.png) 50% 50% no-repeat;background-size: 20px 20px;
                    }
                }
                .btnAlreadyHandsUp{
                    background: #FF4545;color:#fff;padding: 0 70px 0 8px;
                    &:before{
                        content:'';position: absolute;width: 0px;height: 10px;right: 62px;top: 6px;opacity: 0.2;border: 0.5px solid #FFFFFF;
                    }
                    &:after{
                        content:'我已举手';position: absolute;top:0;right:0;width: auto;height: 22px;padding-right:8px;
                        background: none;
                    }
                }
            }
            .right{
                float:right;width: 100px;height: 80px;
                background-size: cover;
                border-radius: 4px;
            }
        }
    }
    .feedSuccessful{
        .feedTitle{
            background: #FF4545 url(../../images/icon-feed-successful.png) rem(526) 50% no-repeat;background-size: 80px 24px; color:#fff;position: relative;
            &:after{
                content:'成功!';background: url(../../images/icon-right.png) 0 50% no-repeat;background-size: 14px 14px;padding-left:19px;height: 33px;line-height: 33px; position: absolute;right:rem(100);top:0;
            }
        }
    }
    :global{
    }
}
