.siteHeader {
  font-size: 16px;
  height: 44px;
  width:100%;
  z-index: 103;
  box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  background: #fff url(../../images/site-logo.png) 50% 50% no-repeat;
  background-size: 60px 44px;
  
}
